
    header
    {
        display: flex; 
        justify-content: space-between;
        background-color: black;
        color: white;
        font-size: 32px;
        padding-top: 5px;
        opacity: 0.4;
        border-bottom: 2px solid red;
        padding-bottom: 5px;
        z-index: 1;
        overflow: hidden;
        position: fixed;
        width: 100%;
    }
    @media (max-width: 1080px)
    {
        header
        {
            flex-direction: column;
            font-size: 26px;
        }
    }
    #div3
    {
      background-color: white;
      position: relative;
      border-radius: 10px;
      top: 64px;
      border: 2px solid #900934;
    }
    #footer
    {
      position: fixed;
      background-color: black;
      color: white;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      bottom: 0%;
    }