
<!DOCTYPE html>
<html>
  <head>
    <title>ADMIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
      html
      {
        scroll-behavior: smooth;
      }
      body
      {
        background-image: url('/static/bg_image/admin.jpg');
          background-repeat: no-repeat;
          background-size: cover;
      }
      #div3
      {
        background-color: white;
        position: relative;
        opacity: 0.8;
        border: 2px solid white;
        border-radius: 10px;
        top: 64px;
      }
      @media all and (min-width: 992px) {
        .navbar .nav-item .dropdown-menu{ display: none; }
        .navbar .nav-item:hover .nav-link{ color: #fff;  }
        .navbar .nav-item:hover .dropdown-menu{ display: block; }
        .navbar .nav-item .dropdown-menu{ margin-top:0; }
      } 
    </style>
    <script type="text/javascript">
      // ****************************** Admin Make Folders Functions ***********************************

  function lengths()
  {
     d_l=document.getElementById('department_alert').innerHTML.length;
     y_l=document.getElementById('year_alert').innerHTML.length;
     s_l=document.getElementById('subject_alert').innerHTML.length;
     h_l=document.getElementById('hour_alert').innerHTML.length;
  };
  function checkdepartment(){                 // Function to check department feild is having only alphabet
    lengths();
     var Dep=document.create_folders.department.value;
     var number = /[0-9]/;
     var format = /[ `!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/; 
    if(number.test(Dep))
    {
      document.getElementById('department_alert').style.display="block";
      document.getElementById('department_alert').innerHTML="Please ensure that Department field should contain alphabet only";
      document.getElementById('create_folders_button').disabled=true;
      document.getElementById('create_folders_button1').disabled=true;
    }
    else if(format.test(Dep))
    {
      document.getElementById('department_alert').style.display="block";
      document.getElementById('department_alert').innerHTML="Please ensure that department field should not contain spaces or any special characters";
      document.getElementById('create_folders_button').disabled=true;
      document.getElementById('create_folders_button1').disabled=true;
    }
    else
    {
      document.getElementById('department_alert').innerHTML="";
      document.getElementById('department_alert').style.display="none";
      if(y_l==0 && s_l==0 && h_l==0)
      {
        document.getElementById('create_folders_button').disabled=false;
        document.getElementById('create_folders_button1').disabled=false;
      }
    }
  }

  function checkyear(){                      // Function to Check Year field have only digit
    var Year=document.create_folders.year.value;
    var format = /[ `!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
    lengths();
    if(isNaN(Year) || format.test(Year))
    {
      document.getElementById('year_alert').style.display="block";
      document.getElementById('year_alert').innerHTML="Please ensure that Year field have a single digit number";
      document.getElementById('create_folders_button').disabled=true;
      document.getElementById('create_folders_button1').disabled=true;
    }
    else
    {
      document.getElementById('year_alert').style.display="none";
      document.getElementById('year_alert').innerHTML="";
      if(d_l==0 && s_l==0 && h_l==0)
      {
        document.getElementById('create_folders_button').disabled=false;
        document.getElementById('create_folders_button1').disabled=false;
      }
    }
  }

  function checksubject_codes(){                // Function to check section filed have only alphabet
    var Subject=document.create_folders.subject_codes.value;
    var format = /[ `!@#$%^&*()_+\-=\[\]{};':"\\|.<>\/?~]/;
    lengths();
    if(Subject.length>0 && !isNaN(Subject))
    {
      document.getElementById('subject_alert').style.display="block";
      document.getElementById('subject_alert').innerHTML="Please ensure that Subject codes field should not contain only digits";
      document.getElementById('create_folders_button').disabled=true;
      document.getElementById('create_folders_button1').disabled=true;
    }
    else if(format.test(Subject))
    {
      document.getElementById('subject_alert').style.display="block";
      document.getElementById('subject_alert').innerHTML="Please ensure that Subject codes field should not contain spaces or any special characters except comma(,).";
      document.getElementById('create_folders_button').disabled=true;
      document.getElementById('create_folders_button1').disabled=true;
    }
    else
    {
      document.getElementById('subject_alert').style.display="none";
      document.getElementById('subject_alert').innerHTML="";
      if(d_l==0 && y_l==0 && h_l==0)
      {
        document.getElementById('create_folders_button').disabled=false;
        document.getElementById('create_folders_button1').disabled=false;
      }
    }
  }

  function alert()
  {
    document.getElementById('container1').style.display="none";
    document.getElementById('create_folders_button').style.display="none";
    document.getElementById('submit_alert').innerHTML="Please open the dialog flashing in taskbar to select and upload files";
  }
  function alert1()
  {
    document.getElementById('container1').style.display="none";
    document.getElementById('create_folders_button1').style.display="none";
    document.getElementById('submit_alert').innerHTML="Please open the dialog flashing in taskbar to select and upload files";
  }
  

// ****************************************************************************************************************************

    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <h5 style="padding-left: 2%;color: white;"> Welcome {{username}}</h5>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="color: white;">
        &nbsp;&nbsp;&nbsp;
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{{url_for('admin_page')}}">Make Folders</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{url_for('Hours_page')}}">Hours</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Individual Template</a>
           <ul class="dropdown-menu">
            
             <li><a class="dropdown-item"  href="{{url_for('Combine_page')}}">Combined Template</a></li>
           </ul>
         </li>
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Encodings  </a>
           <ul class="dropdown-menu">
            <li><a class="dropdown-item"  href="{{url_for('Generate_Encodings_page')}}">Generate Encodings</a></li>
            <br>
             <li><a class="dropdown-item"  href="{{url_for('Seperate_Encodings_page')}}">Combine Encodings</a></li>
             <br>
             <li><a class="dropdown-item" href="{{url_for('Delete_Enco_page')}}">Delete Encodings</a></li>
           </ul>
         </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('Registration_Control_page')}}">Registration Control</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('view_attendance_page')}}">View Attendance</a>
        </li>
        
      </ul>
        <form class="form-inline">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" formaction="{{url_for('logout')}}">Logout</button>
        </form>
      </div>
    </nav>
    <div id="div1" class="container"> <!-- container div1 -->
      <div id="div2" class="row">     <!-- container div2 -->
        <div id="div3" name="div3" class="col">   <!-- container div3 -->
          <div class="container" id="container1" name="container1" style="position: relative; border-radius:10px;"> 
          <!-- Flash M -->
            <center>
              <h5 style="color: red">
                  {% with messages = get_flashed_messages() %}          <!-- Flash Message division starts -->
                   {% if messages %}
                     {% for message in messages %}
                      <br><br>
                       {% if fail %}
                          <div class="alert alert-danger" style="color: red;" role="alert">
                              {{ message }}
                          </div>
                        {% else %}
                          <div class="alert alert-success" role="alert">
                              {{ message }}
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
                  {% if date_msg %}
                  <div class="alert alert-danger" style="color: red;" role="alert" id="date_alert_div">
                    <center>
                      <span id="date_alert_info">{{date_msg}}</span>
                    </center>
                  </div>
                  {% endif %}                                   <!-- Flash Message division ends here -->
              </h5>  
            </center>
          </div>
          <div class="container" id="container2" name="container2">      <!-- Starting of container-2  -->
            <form name="create_folders" method="POST" enctype="multipart/form-data">           <!-- Form to  create folder -->
              <center>
                <h2 style="color:#540569">Upload Template</h2>
              </center>
              <br>
              </h5>
              <label><h4 style="color: #040404;">Department of</h4></label>
              <div class="input-group mb-3">
                <input name="department" type="text" class="form-control" placeholder="eg: CSE, ECE, MECH, EEE, CIVIL, MBA,AERO,PHARMA, etc." onkeyup="checkdepartment()" maxlength="5" style="border-color: #090609" required>
              </div>
              <span id="department_alert" style="color: red;"></span>
              <label><h4 style="color: #040404;">Year</h4></label>
              <div class="input-group mb-3">
                <input name="year" type="text" class="form-control" placeholder="eg: 1, 2, 3, 4, etc." maxlength="1" onkeyup="checkyear()" style="border-color: #090609;width: 60;"required>
              </div>
              <span id="year_alert" style="color: red;"></span>
              <label><h4 style="color: #040404">Section</h4></label>
              <div class="input-group mb-3">
                <input name="subject_codes" type="text" class="form-control" placeholder="eg: A,B,C, etc." onkeyup="checksubject_codes()" style="border-color: #090609" required>
              </div>
              <span id="subject_alert" style="color: red;"></span>
              <center>
                <button type="submit" id="create_folders_button1" formaction="/Upload_Template" class="btn btn-primary" style="color: black;width: 240px;font-size: 22px;" onclick="alert1()">Upload Template</button>
                <br>
                <br>
                <span id="submit_alert" style="color: green;font-size: 20px;"></span>
              </center>
            </form>           <!-- Folder creation form ends here -->
          </div>
          <br>
          <!-- /container2 -->
        </div>      <!-- /container div3 -->
      </div>      <!-- /container div2 -->
    </div>      <!-- /container div1 -->
  </body>
</html>

